.footer {
  border-top: 1px solid grey;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
