.page {
}

.page-body {
  display: flex;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  @include e("overview") {
    background: antiquewhite;
    width: 65%;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }

  @include e("summary") {
    background: navajowhite;
    width: 35%;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
}

@include mobile {
  .page-body {
    flex-direction: column-reverse;

    @include e("overview") {
      width: initial;
    }

    @include e("summary") {
      width: initial;
    }
  }
}
