@include n($homepage, "body") {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;

  @include e("overview") {
    width: initial;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    margin-left: 1em;
  }

  @include e("summary") {
    width: initial;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    margin-left: 1em;
  }
}

@include desktop {
  @include n($homepage, "body") {
    flex-direction: row;
    padding-bottom: 2em;

    @include e("overview") {
      width: 65%;
      margin-left: 2em;
      margin-right: 0;
    }

    @include e("summary") {
      width: 35%;
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}
