@include n($homepage, 'footer') {
  padding-top: 0;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;

  @include e('text') {
    margin-top: 1em;
  }
}

@include desktop {
  @include n($homepage, 'footer') {
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;

    @include e('text') {
      margin-top: 2em;
    }
  }
}
