@import "./variables";
@import "./title";
@import "./subtitle";
@import "./body";
@import "./section";
@import "./link";
@import "./list";
@import "./block";

.#{$homepage} {
  background-image: url("../images/background/desktop.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  @include mobile {
    background-image: url("../images/background/mobile.webp") no-repeat center center fixed;
  }
}
