@import "./variables";
@import "./title";
@import "./subtitle";
@import "./body";
@import "./section";
@import "./link";
@import "./list";
@import "./block";

.#{$homepage} {
  background-image: url("../images/background/desktop.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@include mobile {
  .#{$homepage} {
    background-image: url("../images/background/mobile.webp");
  }
}

@media print {
  .#{$homepage} {
    background-image: none;
    background-color: #000000e8;
  }
}
