@import "./variables";
@import "./title";
@import "./subtitle";
@import "./body";
@import "./section";
@import "./link";
@import "./list";
@import "./block";

.#{$homepage} {
  background: url("../images/background/desktop.webp") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;

  @include mobile {
    background: url("../images/background/mobile.webp") no-repeat center center fixed;
  }
}
