@include n($homepage, 'progress') {
  display: flex;
  align-items: center;

  @include e('label') {
    flex-shrink: 0;
  }

  @include e('bar') {
    height: 0.2em;
    border: none;

    &[value] {
      background-color: $homepage-text-color;

      &::-moz-progress-bar {
        background-color: $homepage-sub-dark-color;
      }

      &::-webkit-progress-value {
        background-color: $homepage-sub-dark-color;
      }
    }
  }
}
