@include n($homepage, "technology-list") {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @include e("item") {
    background-color: $homepage-main-dark-color;
    clip-path: polygon(0% 0%, 0% 0%, calc(100% - 10px) 0%, 100% 10px, 100% 0, 100% 0, 100% 100%, 0% 100%);
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0.2em;
    padding-right: 0.8em;
    padding-bottom: 0.2em;
    padding-left: 0.8em;
    font-weight: bold;
    font-size: 0.8em;
  }
}
