$homepage: 'homepage';
$homepage-background-color: #010910;
$homepage-main-color: #5afd5e;
$homepage-main-dark-color: #08750a;
$homepage-sub-color: #5ab1fd;
$homepage-sub-dark-color: #085b75;
$homepage-text-color: #d5d5d5;
