@use "../utils/bem";
@use "config";

.page-section {
  & + & {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }

  @include bem.e("time-board") {
    & + & {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 1em;
    }
  }

  @include bem.e("title") {
    color: config.$page-primary-light-color;
    font-size: 2em;
    font-weight: lighter;
  }

  @include bem.e("text") {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }
}

@media print {
  .page-section {
    @include bem.e("text") {
      page-break-inside: avoid;
    }

    @include bem.e("time-board") {
      page-break-inside: avoid;
    }
  }
}
