@use "../../config";
@use "../../utils/bem";
@use "../../utils/screen";
@use "link";
@use "text";

.not-found-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;

  @include bem.e("title") {
    font-size: 3em;
    font-weight: lighter;
  }

  @include bem.e("body") {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }
}

@include screen.desktop {
  .not-found-page {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
  }
}
