@use "../config";
@use "../utils/bem";
@use "../utils/screen";
@use "../utils/reset";

.error-page {
  align-items: center;
  background-color: config.$background-color;
  color: config.$text-color;
  min-height: 100vh;
}

@include screen.desktop {
  .error-page {
    background-attachment: fixed;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)),
      url("../images/background/error_pages/not_found_desktop.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
